
.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}

.room {
    margin: 25px;
    background-color: azure;
    padding: 5%;
    border: 2px solid black;
    border-radius: 25px;
}
.specialRoom {
    margin: 25px;
    background-color: gold;
    padding: 5%;
    border: 2px solid black;
    border-radius: 25px;
}

.lordsRoom {
    margin: 25px;
    background-color: darkgray;
    padding: 5%;
    border: 2px solid black;
    border-radius: 25px;
}

.attack {
    background-color: cyan;
    padding: 1%;
    border: 1px solid black;
    margin: 5px;
}
.monsterGroup {
    border-radius: 10px;
    background-color: white;
    display:inline-block;
    border: 5px dotted dimgray;
    margin: 3px;
    padding: 2px;
}
.dungeonMonster {
    border-radius: 10px;
    background-color: white;
    display:inline-block;
    border: 5px solid green;
    margin: 3px;
    padding: 3px;
}

.mythMonster {
    border-radius: 10px;
    background-color: white;
    display:inline-block;
    border: 5px solid blue;
    margin: 3px;
    padding: 2px;
}

.verminMonster {
    border-radius: 10px;
    background-color: white;
    display:inline-block;
    border: 5px solid saddlebrown;
    margin: 3px;
    padding: 2px;
}
.undeadMonster {
    border-radius: 10px;
    background-color: white;
    display:inline-block;
    border: 5px solid darkgrey;
    margin: 3px;
    padding: 2px;
}
.infernalMonster {
    border-radius: 10px;
    background-color: white;
    display:inline-block;
    border: 5px solid orange;
    margin: 3px;
    padding: 2px;
}
.amount {
    font-size: large;
    display:inline-block;
    font-weight: bold;
    margin: 2px;
    }